<h2 mat-dialog-title>Add Task</h2>
<mat-dialog-content>
  <form [formGroup]="TaskAdd" >
    <mat-form-field>
      <mat-label class="fw-medium text-black">Task Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
        <mat-label class="fw-medium text-black">Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="fw-medium text-black">Estimation time</mat-label>
        <input matInput formControlName="estimateHours" />
      </mat-form-field>

    <mat-form-field>
      <mat-label class="text-black">Task Type</mat-label>
      <mat-select formControlName="type" class="text-black">
        <mat-option [value]="0">Epic</mat-option>
        <mat-option [value]="1">Feature</mat-option>
        <mat-option [value]="2">Userstory</mat-option>
        <mat-option [value]="3">Task</mat-option>
        <mat-option [value]="4">Bug</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option [value]="0">Not Started</mat-option>
        <mat-option [value]="1">Active</mat-option>
        <mat-option [value]="2">Completed</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn btn-primary btn-sm" (click)="onCancel()">Cancel</button>
  <button mat-button class="btn btn-danger btn-sm ms-4" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
