<div class="container d-flex justify-content-center align-items-center " style="min-height: 100vh;">
    <form [formGroup]="myProjectForm" class="p-4 border rounded shadow" style="max-width: 600px; width: 100%;  background-color: skyblue;">
        <div class="text-center mb-4">
            <h3>Project Details</h3>
        </div>
        <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input
                id="name"
                class="form-control input-field"
                type="text"
                placeholder="Enter name"
                formControlName="name"
            >
        </div>
        <div class="form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <input
                id="description"
                class="form-control input-field"
                type="text"
                placeholder="Enter description"
                formControlName="description"
            >
        </div>
        <div formArrayName="projectEmployee" class="mb-3">
            <label class="form-label">members</label>
            <div *ngFor="let control of myProjectForm.controls.projectEmployee.controls; let i = index" [formGroup]="control" class="d-flex align-items-center mb-2">
                <input
                    class="form-control me-2"
                    type="text"
                    placeholder="Sub-member name"
                    formControlName="name"
                >
                <button
                    class="btn btn-danger btn-sm"
                    (click)="remove(i)"
                >-</button>
            </div>
            <button class="btn btn-success btn-sm mt-2" (click)="addDetail()">Add Sub-member</button>
        </div>
        <div class="form-group mb-4">
            <label for="status" class="form-label">Status</label>
            <select id="status" class="form-select" formControlName="status">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <div *ngIf="!isEdit">
                <button class="btn btn-primary" (click)="addProject()">Save</button>
            </div>
            <div *ngIf="isEdit">
                <button class="btn btn-primary" (click)="updateEmployee()">Update</button>
            </div>
        </div>
    </form>
</div>
