.go-input {
    margin-left: 7rem;
    margin-top: 15px;
    width: 4rem;
    height: 3rem;
    border-radius: 20px;
  }
  .go-btn {
    /* margin-left: 10rem; */
    margin-top: 20px;
    margin-bottom: 1rem;
    font-weight: 500;
    height: 38px;
  }
  .pagination {
    width: 28rem;
    height: 4rem;
    border-radius: 40px;
    padding-left: 0px !important;
    color: #004861;
    font-weight: 500;
    margin-left: 125px;
    padding-top: 5px;
  }