
<div *ngIf="project" class="card shadow-sm details">
    <div class="card-header text-white">
      <h2 class="mb-0">Project Details</h2>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 font-weight-bold">Name:</div>
        <div class="col-md-8">{{ project.name }}</div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4 font-weight-bold">Description:</div>
        <div class="col-md-8">{{ project.description }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 font-weight-bold">Status</div>
        <div class="col-md-8">{{ getStatus(project.status) }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 font-weight-bold">Start Date & Time:</div>
        <div class="col-md-8">{{ project.createdOn | date:'dd/MM/yyyy, h:mm a' }}</div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4 font-weight-bold">End Date & Time:</div>
        <div class="col-md-8">--</div>
      </div>
      <div class="row mb-3">
        <div class="col font-weight-bold">
          <div class="fs-5 fw-medium mb-3">Members:</div>
        <div *ngFor="let project of project.projectEmployee;let i=index" >
          <ul><li>
            <div>{{project.name}}</div>
            <!-- <div><button class="btn btn-sm btn-danger" (click)="removeMember(i)">X</button></div> -->
          </li></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container ps-5 mt-5">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>TaskType</mat-label>
          <mat-select (selectionChange)="TaskType($event)" multiple>
            <mat-option [value]=0>Epic</mat-option>
            <mat-option [value]=1>Feature</mat-option>
            <mat-option [value]=2>Userstory</mat-option>
            <mat-option [value]=3>Task</mat-option>
            <mat-option [value]=4>Bug</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <!-- TASK STATUS  -->
         <div class="col">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select (selectionChange)="TaskStatus($event)" multiple>
            <mat-option [value]=0>Not Started</mat-option>
            <mat-option [value]=1>Active</mat-option>
            <mat-option [value]=2>Completed</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <!-- EMPLOYEES THAT ARE IN TASK  -->
        <mat-form-field>
          <mat-label>Assigned To</mat-label>
          <mat-select (selectionChange)="TaskAssigned($event)" multiple>
            <mat-option [value]="loginId" >me</mat-option>
         <div *ngFor="let assignedTo of project.projectEmployee">
            <mat-option
              *ngIf="assignedTo.id !== loginId"
              [value]="assignedTo.id"
              >{{ assignedTo.name }}</mat-option
            >
          </div>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="col">
      <!-- TASK IS ASSIGNED OR NOT -->
      <mat-form-field >
        <mat-label>Assign</mat-label>
        <mat-select (selectionChange)="onChangeAssign($event)">
          <mat-option [value]="true">Assigned</mat-option>
          <mat-option [value]="false">Unassigned</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- <div class="col">
      <mat-form-field >
        <mat-label>Select Sprint</mat-label>
        <mat-select (selectionChange)="onSprintChange($event)">
          <mat-option *ngFor="let sprint of sprintList" [value]="sprint.id">
            {{ sprint.name }}
            <mat-icon [routerLink]="['/tasks/sprint/tasks', sprint.id]">info</mat-icon> 
          </mat-option>
          <mat-option [value]="0">None</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    </div>
  
</div>
<!-- </div> -->
<app-task-child-tree
[items]="epicTaskList"
[projectId]="projectId"
(taskUpdated)="taskchidData()"
></app-task-child-tree>
 <!-- <app-task-list [parentTaskId] = "projectId"></app-task-list> -->

          <!-- <app-task-child-tree ></app-task-child-tree> -->
 <!-- <app-task-list [parentTaskId] = "projectId"></app-task-list> -->
  <!-- <app-task-child-tree></app-task-child-tree> -->
