:root {
    /* Dark mode */
    --bg-color: rgb(34, 34, 34);
    --text-color: whitesmoke;
    --header-bg-color: grey;
    --header-text-color: white;
    --sidebar-bg-color: #343a40;
    --catelog-list-bg: #1b2430;
    --sidebar-text-color: lightgray;
    --sidebar-hover-color: rgb(10, 160, 97);
    /* ... other variables */
}

/* Light Mode */
[lightTheme="light"] {
    --bg-color: #eef0f1;
    --text-color: black;
    --header-bg-color: white;
    --header-text-color: black;
    --sidebar-bg-color: white;
    --catelog-list-bg: whitesmoke;
    --sidebar-text-color: rgb(14, 14, 14);
    --sidebar-hover-color: rgb(10, 160, 97);
    /* ... other variables */
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    background: #1b2430;
    color: white;
    transition: all 0.6s;
    padding-left: 10px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 53px;
  }
  
  #sidebar.active {
    left: 0;
  }
  
  #sidebar ul {
    padding: 0;
  }
  
  #sidebar ul li {
    list-style: none;
    padding: 14px;
  }
  
  #sidebar ul li a {
    color: var(--sidebar-text-color);
    text-decoration: none;
    display: block;
  }
  
  #sidebar ul li a:hover {
    color: rgb(10, 160, 97);
  }
  