
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <!-- <button class="btn btn-primary" routerLink="add">Add Department</button> -->
          <button mat-raised-button class="bg-primary text-white" (click)="addDepartment()">Add Department</button>
        </div>
        <div class="col-md-6 d-flex">
          <input type="text" placeholder="Search" class="input-field" [(ngModel)]="filterObj.filterQuery">
          <i class="mdi mdi-window-close cancel-icon" (click)="clearSearch()"></i>
          <button class="btn btn-primary ms-2 btn-sm" (click)="onSearch()">SEARCH</button>
          <!-- <div class="ms-5 fw-medium fs-5 ">
            <label for="">Filter by:</label>
            <select id="" [(ngModel)]="selectedFilterField">
              <option *ngFor="let field of filterFields" [value]="field">
                {{ field }}
              </option>
            </select>
          </div> -->
        </div>
        
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <table   class="table table-bordered">
            <thead class="bg-primary text-white fw-semibold">
              <tr>
                <th class="col-md-1">S.NO</th>
                <th class="col-md-4 "  (click)="sortDep('name')">NAME <i class="mdi mdi-menu-up hover-menu"></i></th>
                <th class="col-md-2" (click)="sortDep('createdOn')">CREATED ON <i class=" mdi mdi-menu-up hover-menu"></i></th>
                <th class="col-md-2" (click)="sortDep('createdBy_Name')">CREATED BY <i class=" mdi mdi-menu-up hover-menu"></i></th>
                <th class="col-md-4">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of departmentList; let i = index">
                <td class="text-center">{{ getGlobalIndex(i) }}</td>
                <td class="text-start ps-5">{{ item.name }}</td>
                <td>{{ item.createdOn }}</td>
                <td>{{ item.createdBy_Name}}</td>
                <td class="text-center">
                  
                  <button class="btn btn-danger btn-sm" (click)="delete(item.id)">DELETE</button>
                  <button class="btn btn-primary btn-sm ms-2" [routerLink]="['/add', item.id]">UPDATE</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<!--     
    <div class="container mt-5">
      <div class="row">
        <div class="col-6">
          <mat-paginator class="pagination shadow" [length]="totalEntriesCount" [pageSize]="filterObj.pageSize"
                         [pageSizeOptions]="[5, 10, 20, 50]" aria-label="Select page" 
                         (page)="onPageEvent($event)">
          </mat-paginator>
        </div>
        <div class="col-md-6 d-flex">
          <input type="text" [min]="1" [max]="maxPage" [(ngModel)]="pageInput" class="form-control go-input text-center me-2">
          <button class="btn btn-primary go-btn" (click)="goToPage()">GO</button>
          <div *ngIf="errorMsg" class="error-message text-danger">
            {{ errorMsg }}
          </div>
        </div>
      </div>
      </div>
     -->
     <!-- <div class="container mt-5">
      <div class="row">
        <div class="col-4 mb-5">
          <mat-paginator
            class="pagination shadow"
            [length]="totalEntriesCount"
            [pageSize]="filterObj.pageSize"
            [pageSizeOptions]="[5, 10, 20, 50]"
            aria-label="Select page"
            (page)="onPageEvent($event)"
          >
          </mat-paginator>
        </div>
        <div class="col-md-6 ms-4 d-flex">
          <input
            type="number"
            [min]="1"
            [max]="maxPage"
            [(ngModel)]="pageInput"
            placeholder="page"
            class="form-control go-input text-center me-2"
          />
          <button class="btn btn-primary go-btn" (click)="goToPage()">GO</button>
          <div *ngIf="errorMsg" class="error-message text-danger">
            {{ errorMsg }}
          </div>
        </div>
      </div>
    </div>
     -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-4 mb-5">
          <mat-paginator
            class="pagination shadow"
            [length]="totalEntriesCount"
            [pageSize]="filterObj.pageSize"
            [pageSizeOptions]="[5, 10, 20, 50]"
            aria-label="Select page"
            (page)="onPageEvent($event)"
          >
          </mat-paginator>
        </div>
        <div class="col-md-6 ms-4 d-flex">
          <!-- {{getMaxPage()}} -->
          <input
            type="number"
            [min]="1"
            [max]="maxPage"
            [(ngModel)]="pageInput"
            placeholder="page"
            class="form-control go-input text-center me-2"
          />
          <button class="btn btn-primary go-btn" (click)="goToPage()">GO</button>
          <div *ngIf="errorMsg" class="error-message text-danger">
            {{ errorMsg }}
          </div>
        </div>
      </div>
    </div>
    