
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary" routerLink="/employee/add">Add Employee</button>
          </div>
          <div class="col-md-6">
            <input type="text " class="input-field" placeholder="Search" [(ngModel)]="EmployeeFilterObj.filterQuery">
            <button class="btn search-btn btn-primary ms-2 btn-sm" (click)="onSearch()"> <i class="mdi mdi-magnify magnify"></i></button>
          </div>
        </div>
      </div>
      
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <!-- <table  matSort (matSortChange)="sortData($event)"  class="table table-bordered"> -->
            <table  class="table table-bordered">
              <thead class="bg-primary text-white fw-semibold">
                <tr>
                  <th class="col-md-2 text-center">ID</th>
                  <th class="col-md-2 text-center" (click)="sortDep('name')">NAME <i class="mdi mdi-menu-up"></i></th>
                  <th class="col-md-2 text-center" (click)="sortDep('createdOn')">CREATED ON <i class="mdi mdi-menu-up"></i></th>
                  <th class="col-md-2 text-center" (click)="sortDep('salary')">SALARY <i class="mdi mdi-menu-up"></i></th>
                  <th class="col-md-2 text-center">ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of employeeList; let i = index">
                  <td class="text-center">{{ getGlobalIndex(i)}}</td>
                  <td class="text-center">{{ item.name }}</td>
                  <td class="text-center">{{ item.createdOn }}</td>
                  <td class="text-center">{{ item.salary }}</td>
                  <td class="text-center">
                    <button class="btn btn-danger btn-sm" (click)="delete(item.id)">DELETE</button>
                    <button class="btn btn-primary btn-sm ms-2" [routerLink]="['/employee/edit',item.id]">UPDATE</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <mat-paginator [length]="totalEntriesCount" [pageSize]="EmployeeFilterObj.pageSize"
                           [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page" 
                           (page)="onPageEvent($event)">
            </mat-paginator>
          </div>
          <div class="col-md-6 text-end mb-5">
            <input type="number" min="1" [max]="getMaxPage()" [(ngModel)]="pageInput" placeholder="page" class="form-control d-inline-block  w-auto me-2">
            <button class="btn btn-primary " (click)="goToPage()">GO</button>
          </div>
        </div>
      </div>