<div class="Task-view">
    <div class="row">
    <div class="col">
      <!-- TASK TYPE SELECT  -->
      <mat-form-field>
        <mat-label>TaskType</mat-label>
        <mat-select (selectionChange)="TaskType($event)" multiple>
          <mat-option [value]=0>Epic</mat-option>
          <mat-option [value]=1>Feature</mat-option>
          <mat-option [value]=2>Userstory</mat-option>
          <mat-option [value]=3>Task</mat-option>
          <mat-option [value]=4>Bug</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <!-- TASK STATUS  -->
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select (selectionChange)="TaskStatus($event)" multiple>
          <mat-option [value]=0>Not Started</mat-option>
          <mat-option [value]=1>Active</mat-option>
          <mat-option [value]=2>Completed</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <!-- EMPLOYEES THAT ARE IN TASK  -->
        <mat-form-field >
          <mat-label>Assigned To</mat-label>
          <mat-select (selectionChange)="TaskAssigned($event)" multiple>
            <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
              {{employee.name ? 'Me' : employee.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div class="col">
    <!-- TASK IS ASSIGNED OR NOT -->
    <mat-form-field >
      <mat-label>Assign</mat-label>
      <mat-select (selectionChange)="onChangeAssign($event)">
        <mat-option [value]="true">Assigned</mat-option>
        <mat-option [value]="false">Unassigned</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col">
    <mat-form-field >
      <mat-label>Select Sprint</mat-label>
      <mat-select (selectionChange)="onSprintChange($event)">
        <mat-option *ngFor="let sprint of sprintList" [value]="sprint.id">
          {{ sprint.name }}
          <mat-icon [routerLink]="['/tasks/sprint/tasks', sprint.id]">info</mat-icon> 
        </mat-option>
        <mat-option [value]="0">None</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
   <!-- TASK LIST  -->
  <div class="fs-4 fw-medium pb-2">Task List</div>
  <button class="col-1 my-5 btn btn-primary btn-sm" (click)="openAddTaskModal()">Add Task</button>
    <div *ngIf="taskItemList">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Task Name</th>
            <th>Task Type</th>
            <th>Creaded On</th>
            <th>Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of taskItemList; let i=index">
            <td>{{getGlobalIndex(i)}}</td>
            <div>
              <td>
              <div [routerLink]="['/task/view', task.id]"> {{task.name}} </div>
            </td></div>
            <td class="text-start">{{ getTaskTypeLabel(task.type) }}</td>
            <td class="text-start">{{task.createdOn | date:'dd/MM/yyyy , h:mm a'}}</td>
            <td class="text-center"><i class="mdi mdi-menu-down action-icon fs-4 pe-2" (click)="toggleChild(task.id)"></i> 
            <i class="mdi mdi-plus action-icon pe-2 text-success fw-bold fs-4"></i> 
            <i class="mdi mdi-delete-empty action-icon pe-2 text-success fw-bold fs-4"  (click)="deleteTask(task.id)"></i> 
            <i class="mdi mdi-pencil action-icon fs-5 pe-2 text-primary" [routerLink]="['/task/edit',task.id]"></i> </td>
          </tr>
          <ng-container *ngFor="let task of taskItemList; let i=index">
            <ng-container *ngIf="task.childShow">
              <tr *ngFor="let child of task.childTasks">
                <td colspan="1">{{ i }}</td>
                <td colspan="1">{{ child.name }}</td>
                <td colspan="1">{{ getTaskTypeLabel(child.type) }}</td>
                <td colspan="1">{{ child.createdOn | date:'dd/MM/yyyy , h:mm a'}}</td>
                <td class="text-center"><i class="mdi mdi-menu-down action-icon fs-4 pe-2" (click)="toggleChild(task.id)"></i> 
                  <i class="mdi mdi-plus action-icon pe-2 text-success fw-bold fs-4"></i> 
                  <i class="mdi mdi-delete-empty action-icon pe-2 text-success fw-bold fs-4"  (click)="deleteTask(child.id)"></i> 
                  <i class="mdi mdi-pencil action-icon fs-5 pe-2 text-primary" [routerLink]="['/edit',task.id]"></i> </td>
              </tr>
            </ng-container>
          </ng-container>
          
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-4 mb-5">
        <mat-paginator
          class="pagination shadow"
          [length]="totalEntriesCount"
          [pageSize]="filterObj.pageSize"
          [pageSizeOptions]="[5, 10, 20, 50]"
          aria-label="Select page"
          (page)="onPageEvent($event)"
        >
        </mat-paginator>
      </div>
      <div class="col-md-6 ms-4 d-flex">
        <input type="number" min="1" [max]="getMaxPage()" [(ngModel)]="pageInput" placeholder="page" class="form-control go-input text-center"> 
        <button class="btn btn-primary go-btn" (click)="goToPage()">GO</button>
        <div *ngIf="errorMsg" class="error-message text-danger">
          {{ errorMsg }}
        </div>
      </div>
    </div>
  </div>
  
  
 
