<!-- <div >
  <div style="display: flex; justify-content: center;  margin-top: 6rem;margin-left: 25rem;border-radius: 6px; height: 30rem; width: 35rem; background-color: rgb(93, 93, 208);">
    <div>
    <span>
    <input type="text" style= "width: 15rem; height: 2rem;margin-top: 2rem;" [(ngModel)]="newTodo" placeholder="Write Title here..">
    <input style="margin-left: 2rem; width: 15rem; height: 2rem;" type="text" [(ngModel)]="newTodo" placeholder="Write Description here..">
    <button style="margin-left: 2rem;width: 4rem; height: 2rem" (click)="addTodo()">Add</button>
  </span>
  </div>
</div> -->
<!-- <app-todo></app-todo> -->
 <app-navbar></app-navbar>
 <router-outlet></router-outlet>

 
