
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="department"><button class="btn btn-primary btn-lg">DEPARTMENT</button></a>
    <a class="navbar-brand" routerLink="employee"><button class="btn btn-primary btn-lg">EMPLOYEE</button></a>
    <a class="navbar-brand" routerLink="project"><button class="btn btn-primary btn-lg">PROJECT</button></a>
  </div>
</nav>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">DEPARTMENT</div>
    <div class="col">EMPLOYEE</div>
    <div class="col">PORJECT</div>
    <div class="col"></div>
  </div>
</div> -->
<router-outlet></router-outlet>

