<!-- <app-loading></app-loading> -->
  <!-- <nav class=" navbar navbar-expand-lg nav-body bg-white sticky-top shadow-sm" >
    <div class="fw-semibold fs-4 ms-4">My</div>
    <div class="logo">
        <i class="mdi mdi-school-outline"></i>
    </div>
   <div class="collapse navbar-collapse " id="navbarNav">
       <ul class="navbar-nav ml-auto fw-semibold navbar-link">
           <li class="nav-item ">
               <a class="nav-link fs-5 ms-4 nav-text mt-2"  routerLink="department">DEPARTMENT</a>
           </li>
           <li class="nav-item">
               <a class="nav-link  fs-5 nav-text mt-2 ms-4" routerLink="employee/employee">EMPLOYEE</a>
           </li>
           <li class="nav-item">
               <a class="nav-link  fs-5 nav-text mt-2 ms-4" routerLink="project/project">PROJECT</a>
           </li>
           <li class="nav-item">
               <a class="nav-link  fs-5 nav-text mt-2 ms-4" routerLink="login/login">LOGIN</a>
           </li>
       </ul>
   </div>
</nav> -->
<!-- <app-departmentlist></app-departmentlist> -->
<!-- <router-outlet></router-outlet> -->




<!-- <button (click)="toggleSidebar()">Toggle Sidebar</button> -->
<!-- <app-sidebar></app-sidebar>
<div id="content-wrapper" [class.active]="isSidebarActive">
  <app-loading></app-loading>
  <app-departmentlist></app-departmentlist>
  <router-outlet></router-outlet>
</div> -->
<!-- <app-sidebar (toggleTheme)="onToggleTheme()"></app-sidebar>
<div id="content-wrapper" [class.active]="isSidebarOpen">
  <app-loading></app-loading>
  <router-outlet></router-outlet>
</div> -->


<!-- ye shi h  -->
 
<!-- <app-header (toggleSidebar)="onToggleSidebar()" (toggleTheme)="onToggleTheme()"></app-header>
<app-loading></app-loading>
<div id="content-wrapper" [class.active]="isSidebarOpen">
  <router-outlet></router-outlet>
</div> -->

<!-- <app-header (toggleSidebar)="onToggleSidebar()" (toggleTheme)="onToggleTheme()"></app-header>
<app-sidebar *ngIf="isSidebarOpen"></app-sidebar>
<router-outlet></router-outlet> -->


<!-- <div [class.dark-mode]="isDarkMode"> -->
  <!-- <app-loading></app-loading> -->
  <router-outlet></router-outlet>
  <!-- <app-header 
    (darkModeToggle)="toggleDarkMode()"
    (sidebarToggle)="toggleSidebar()"
  ></app-header> -->
  <!-- <div [class.dark-mode]="isDarkMode"> -->
<!-- </div> -->
<!-- </div> -->
