<div class="container-fluid d-flex justify-content-center align-items-center bg-img" style="min-height: 100vh;">
  <div class="row justify-content-center whole-body">
    <div class="col-lg-8 col-md-10 col-12">
      <form [formGroup]="myProjectForm" class="p-4 border rounded shadow bg-light">
        <div class="row mb-4 text-center">
          <h3>Project Details</h3>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <div class="form-group">
              <label for="name" class="form-label">Name</label>
              <input
                id="name"
                class="form-control input-field"
                type="text"
                placeholder="Enter name"
                formControlName="name"
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <div class="form-group">
              <label for="description" class="form-label">Description</label>
              <input
                id="description"
                class="form-control input-field"
                type="text"
                placeholder="Enter description"
                formControlName="description"
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <div formArrayName="projectEmployee">
              <button type="button" class="btn btn-success" (click)="openEmployeepopup()">
                {{ isEdit ? 'Update Members' : 'Add Members' }}
              </button>
            </div>
          </div>
        </div>
        <div class="row mb-3" *ngIf="addedMembers">
          <div class="col-12">
            <ul>
              <li class="d-flex align-items-center mb-2" *ngFor="let member of addedMembers; let i = index">
                {{ member }}
                <button (click)="removeMember(i)" class="btn btn-danger btn-sm ms-auto">X</button>
              </li>
            </ul>
          </div>
        </div>
        <!-- member ko add krna -->
        <div class="row mb-3" *ngIf="projectMembers">
          <div class="col-12">
            <ul>
              <li class="d-flex align-items-center mb-2" *ngFor="let member of projectMembers; let i = index">
                {{ member.name }}
                <button (click)="removeMember(i)" class="btn btn-danger btn-sm ms-auto">X</button>
              </li>
            </ul>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-12">
            <div class="form-group">
              <label for="status" class="form-label">Status</label>
              <select id="status" class="form-select" formControlName="status">
                <option value="0">Created</option>
                <option value="1">Running</option>
                <option value="3">Completed</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary" [disabled]="!myProjectForm.valid" (click)="isEdit ? updateEmployee() : addProject()">
                {{ isEdit ? 'Update' : 'Save' }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
