*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin-top: 7rem;
    margin-left: 35rem;
}
.h{
    margin-left: 5rem;
}
.box{
   background: gray;
   width: 20rem;
   height: 20rem;
   padding-top: 10px;
   padding-left: 1rem;
   border-radius: 7px;
}
input{
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
}
.enter{
    background-color: rgb(103, 178, 208);
    width: 3rem;
    height: 2rem;
    margin-left: 4px;
    border-radius:5px
}
.enter:hover{
    background-color: skyblue;
}