/* You can add global styles to this file, and also import other style files */
 body{
    margin: 0;
    padding: 0;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    /* background-color: #8EC5FC; */
    /* background-color: rgba(244, 182, 182, 0.807); */
    background: skyblue;
} 