.add-btn:hover{
    background-color: rgb(97, 97, 237);
    color: white;

}
.cancle-btn:hover{
    background: rgb(216, 94, 94);
    color: white;
}
.plus-btn{
    background-color:skyblue;
    color: black;
}
.plus-btn:hover{
    color: black;
    background: rgb(92, 177, 211);
}