<nav class="navbar sticky-top shadow-sm py-3" >
  <div class="container-fluid">
    <div class="row g-0 w-100">
      <div class="col-md-9 d-flex justify-content-start align-items-center left-col">
        <i class="mdi mdi-menu fs-2" ></i>
      <i class="mdi mdi-white-balance-sunny fs-3 ps-3"></i>
    </div>
      
      <!-- <div class="col-md-6 d-flex flex-row">
        <ul class="navbar-nav d-flex flex-row justify-content-evenly ">
          <li class="nav-item" *ngIf="!isEmployee()">
            <a class="nav-link fs-6 px-4 nav-text" routerLink="/department">DEPARTMENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 px-4 nav-text" routerLink="/employee">EMPLOYEE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 px-4 nav-text" routerLink="/project">PROJECT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6 px-4 nav-text" routerLink="/login">LOGIN</a>
          </li>
        </ul>
      </div> -->
      <div class="col-md-3 d-flex align-items-center justify-centent-end right-col">
        <i class="mdi mdi-school-outline fs-2"></i>
        <div class="fw-semibold fs-5 ps-2">Task Tracker</div>
      </div>     
    </div>
  </div>
</nav>
