
    <div [formGroup]="myEmployeeForm" class="mt-5 text-center form-div" >

        <div *ngIf="!isEdit" class="username">
            <div class="mb-4">
                <label for="username" class="  mb-2 fw-medium me-4 fs-6">Username</label>
                <input id="username" type="text" placeholder="employee username" formControlName="username">
             </div>
    
            <div class="mb-4">
                <label for="password" class="mb-2 fw-medium me-4 fs-6">Password</label>
                <input id="password" type="text" placeholder="employee password" formControlName="password">
            </div>
        </div>
        <div class="mb-4">
            <label for="name" class="fw-medium me-4 fs-6 mb-2 ">Name</label>
            <input id="name" type="text" placeholder="employee name" formControlName="name"></div>
    
        <div class="mb-4">
            <label for="salary" class="fw-medium me-4 fs-6 mb-2">Salary</label>
            <input id="salary" type="number" placeholder="salary" formControlName="salary">
        </div>
    
        <div class="mb-4">
            <label for="" class="fw-medium me-4 fs-6 mb-2">Department</label>
            <select id="" formControlName="departmentId" class="">
                <option *ngFor="let item of departmentList" [value]="item.id">{{item.name}}</option>
            </select>
        </div>
    
        <div class="mb-4">
            <label for="" class=" fw-medium me-4 fs-6 mb-2">Admin Name</label>
            <select id="" formControlName="adminId">
                <option *ngFor="let item of employeeList" [value]="item.id">{{ item.adminName}}</option>
            </select>
        </div>
    
        <div class="mb-4">
            <label  class=" mb-2 fw-medium me-4 fs-6">Role</label>
            <select  formControlName="role"
                class=" ">
                <option value="0">Employee</option>
                <option value="1">Admin</option>
                <option value="2">SuperAdmin</option>
            </select>
        </div>
    </div>
    
    <div *ngIf="!isEdit" class="text-center mt-2">
        <button (click)="addEmployee()"
            class=" btn bg-success">Save</button>
    </div>
    
    <div *ngIf="isEdit" class="text-center mt-2">
        <button (click)="updateEmployee()" class=" btn btn-primary">Update</button>
    </div>